<template>
<div>
  <div class="drawer-menu" :style="isOpen ? drawerMenuOpenStyle : null"></div>
  <div class="drawer-menu-overlay" v-if="isOpen" @click="toggleIsOpenDrawer()"></div>
</div>
</template>
<script>
import { mapState, mapMutations } from "vuex";
export default {
  name: "DrawerMenu",
  data: function() {
    return {
      drawerMenuOpenStyle: { transform: "translateX(0px)" }
    };
  },
  methods: {
    ...mapMutations(["toggleIsOpenDrawer"])
  },
  computed: {
    ...mapState({
      isOpen: "isOpenDrawer"
    })
  }
};
</script>
<style scoped>
.drawer-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 280px;
  height: 100vh;
  background-color: #b8e986;
  border-right: 1px solid #9b9b9b;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 2px 4px 0px;
  z-index: 2;
  transform: translateX(-280px);
  transition: all 400ms 0ms ease;
}
.drawer-menu-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.25);
  z-index: 1;
}
.drawer-menu-open {
  transform: translateX(0px);
}
</style>

