<template>
  <div class="footer">
    <div class="wrapper-top">
      <div class="button-footer" @click="returnRowIndex">戻る</div>
      <div class="button-footer" @click="onClickNext">次へ</div>
    </div>
    <div class="wrapper-bottom" v-if="currentRowIndex === 0">
      <div class="button-footer" @click="onClickAnswer('男')">男</div>
      <div class="button-footer" @click="onClickAnswer('女')">女</div>
    </div>
    <div class="wrapper-bottom" v-if="currentRowIndex !== currentResult.length && currentRowIndex !== 0">
      <div class="button-footer" @click="onClickAnswer('1')">1</div>
      <div class="button-footer" @click="onClickAnswer('2')">2</div>
      <div class="button-footer" @click="onClickAnswer('3')">3</div>
      <div class="button-footer" @click="onClickAnswer('4')">4</div>
      <div class="button-footer" @click="onClickAnswer('5')">5</div>
    </div>
    <div class="wrapper-bottom" v-if="currentRowIndex === currentResult.length">
      <div class="button-footer" @click="onClickNext()">次へ</div>
    </div>
  </div>
</template>
<script>
import { mapState, mapMutations } from "vuex";
export default {
  name: "Footer",
  methods: {
    ...mapMutations([
      "setAnswer",
      "addResult",
      "resetResult",
      "proceedRowIndex",
      "proceedPageIndex",
      "returnRowIndex",
      "resetRowIndex"
    ]),
    onClickAnswer: function(answer) {
      this.setAnswer(answer);
      this.proceedRowIndex();
    },
    onClickNext: function() {
      if (this.currentRowIndex === this.currentResult.length) {
        this.addResult();
        this.resetResult();
        this.proceedPageIndex();
        this.resetRowIndex();
      }
      else {
        this.proceedRowIndex();
      }
    },
    onClickReturn: function() {
      this.returnRowIndex();
    }
  },
  computed: {
    ...mapState(["currentRowIndex", "currentResult"])
  }
};
</script>

<style scoped>
.footer {
  background-color: #7ed321;
  width: 100vw;
  height: 120px;
  box-shadow: rgba(0, 0, 0, 0.5) 0px -2px 4px 0px;
  position: fixed;
  bottom: 0;
  display: flex;
  flex-direction: column;
}

.button-footer {
  width: auto;
  height: 100%;
  border: solid 1px #9b9b9b;
  flex-grow: 1;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6em;
}

.wrapper-top,
.wrapper-bottom {
  display: flex;
  flex-direction: row;
}

.wrapper-top {
  height: 48px;
}

.wrapper-bottom {
  height: 72px;
}
</style>
