<template>
  <div class="header">
    <img class="button-drawer" src="../assets/drawerIcon.svg" @click="toggleIsOpenDrawer()" />
    <div class="text-faculty">メディア情報学部</div>
    <div class="text-department">情報システム学科</div>
    <div class="text-class">A</div>
    <img class="icon-results-count" src="../assets/person.svg" />
    <div class="text-results-count">{{results.length}}</div>
  </div>
</template>
<script>
import { mapState, mapMutations } from "vuex";
export default {
  name: "Header",
  methods: {
    ...mapMutations(["toggleIsOpenDrawer"])
  },
  computed: {
    ...mapState(["results"])
  }
};
</script>

<style scoped>
.header {
  background-color: #7ed321;
  width: 100vw;
  height: 60px;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 2px 4px 0px;
  position: fixed;
  top: 0;
  display: grid;
  grid-template-rows: 50% 50%;
  grid-template-columns: 48px auto 128px 48px auto 24px 48px;
  grid-template-areas:
  "drawer . faculty    class . countIcon countText"
  "drawer . department class . countIcon countText";
  justify-items: center;
  align-items: center;
}
.button-drawer {
  grid-area: drawer;
  width: 32px;
  height: 32px;
}
.text-faculty {
  grid-area: faculty;
}
.text-department {
  grid-area: department;
}
.text-class {
  grid-area: class;
  font-size: 1.8em;
}
.icon-results-count {
  grid-area: countIcon;
  width: 24px;
  height: 24px;
}
.text-results-count {
  grid-area: countText;
  width: 48px;
  height: 48px;
  font-size: 1.8em;
  text-align: center;
  line-height: 48px;
}

</style>

