<template>
  <div class="list">
    <ListItem
      v-for="(item,index) in currentResult"
      :key="index"
      :itemName="item.name"
      :itemAnswer="item.answer"
      :style="currentRowIndex === index ? selectedItemStyle : null"
    />
  </div>
</template>
<script>
import { mapStore, mapMutations, mapState } from "vuex";
import ListItem from "./ListItem";
import anime from "animejs";

export default {
  name: "List",
  updated() {
    const topToItemHeight = 60 + 40 + this.currentRowIndex * 40;
    console.log(topToItemHeight)
    const windowHeight = window.innerHeight - 135;
    // window.scrollTo(0, topToItemHeight - bodyHeight);
    // $(window).scrollTop(0)
    anime({
      targets: document.querySelector("html"),
      scrollTop: topToItemHeight - windowHeight,
      duration: 150,
      easing: "linear"
    });
  },
  data: function() {
    return {
      selectedItemStyle: { backgroundColor: "#B8E986" }
    };
  },
  methods: {
    ...mapMutations(["addResult"]),
    onClick: function() {
      console.log(this.results, this.currentResult);
    }
  },
  computed: {
    ...mapState([
      "results",
      "currentResult",
      "currentRowIndex",
      "currentPageIndex"
    ])
  },
  components: {
    ListItem
  }
};
</script>
<style scoped>
.list {
  margin-top: 60px;
  margin-bottom: 120px;
}
</style>


