<template>
  <div class="list-item">
    <div class="item-name">{{itemName}}</div>
    <div class="item-answer">{{itemAnswer}}</div>
  </div>
</template>
<script>
import { mapState } from "vuex";

export default {
  name: "ListItem",
  props: ["itemName", "itemAnswer"],
  computed: {
    ...mapState(["currentRowIndex"])
  }
};
</script>
<style scoped>
.list-item {
  width: auto;
  height: 40px;
  border-bottom: #9b9b9b 1px solid;
  display: flex;
  flex-direction: row;
  transition: all 200ms 0s ease;
}
.list-item:last-child {
  border-bottom: none;
}
.item-name,
.item-answer {
  width: 50%;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4em;
}
.item-name {
  border-right: #9b9b9b 1px dotted;
}
</style>

